.terminal, .terminal * {
	font-family: DejaVu;
	/*font-weight: 300;*/
	font-size: 12.5pt;
	/*line-height: 18pt;*/
	/*text-shadow: 0em 0em 0.15em currentColor;*/
}

.terminal .output > p {
	min-height: 18pt;
}

.terminal {
	background-color: black;
	--ansi-black: #555;
	--ansi-black-dark: #333;
	--ansi-black-light: #777;
	/*background-color: #002731;*/
	color: white;
	padding: 1em;
}

.terminal.inverted {
	background-color: #272731;
}

.scanlines{
	pointer-events: none;
	background-image: url(scanline.png);
	background-size: auto 20px;
	opacity: 0.55;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	animation-name: scan;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity: 0.075;
}

.terminal.inverted + .scanlines {
	opacity: 0.125;
}

@keyframes scan {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px -20px;
	}
}
