*{
	margin: 0px;
	padding: 0px;
	transition: filter 0.5s ease-out, text-shadow 0s 0s;
}

html {
	box-sizing: border-box;
	background: white;
	height: 100%;
}

html, body {
	min-height: 100%;
}

body {
	display: flex;
	overflow-y:scroll;
	flex-direction: column;
	color: white;
	font-size: 1.5em;
	line-height: 1.25em;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	/*filter:invert(100%);*/
	text-shadow: -2px 0px 5px #FFF, 2px 0px 5px #FFF;
}

.top .scanlines {
	opacity: 1;
}

.top {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 100%;
}

.bottom {
	display: flex;
	flex-direction: row;
}

.bottom div:last-child {
	flex-grow: 1;
}

.terminal {
	background: black;
	font-family: 'Unispace', monospace;
	font-weight: normal;
	font-style: normal;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

.terminal .output p {
	margin: 0px;
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
	width: 100%;
}

.terminal .output p > span {
	display: inline-block;
	flex-basis: fill;
}

.terminal .output p,
.terminal .output p > span:last-child {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	min-width: 0px;
}

.terminal input {
	text-shadow: -3px 0px 4px #FAA, 3px 0px 4px #AFF;
	font-family: 'Unispace', monospace;
	pointer-events: none;
	width: 100%;
	height: 1.125em;
	resize: none;
	overflow: hidden;
	border: none;
	background: black;
	color: white;
	font-size: 1em;
	outline: none;
	padding: 0px;
	box-sizing: border-box;
	font-weight: /*bold*/;
}

.submit {
	font-family: 'Unispace', monospace;
	position: fixed;
	right: 1em;
	bottom: 1em;
	background-color: rgba(255,255,255,0.8);
	color:black;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	user-select: none;
	cursor: pointer;
}

.submit:active {
	right: 0.8em;
	bottom: 0.8em;
}

.scanlines{
	pointer-events: none;
	background-image: url(scanline.png);
	opacity: 0.4;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	animation-name: scan;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	mix-blend-mode: darken;
}

@keyframes scan {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px -12px;
	}
}

.inverted {
	filter: invert(1);
	text-shadow: none !important;
	transition: filter 0.2s ease-out, text-shadow 0s;
}

.inverted span,
.inverted input {
	text-shadow: none !important;
	transition: filter 0.2s ease-out, text-shadow 0s;
}

.inverted .scanlines {
	opacity: 0.64;
}
.melting {
	line-height: initial;
	font-family: DejaVu;
}
