*{
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background: black;
	color: white;
	font-size: 1em;
	line-height: 1.25em;
}

.top {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.terminal {
	font-family: 'Unispace', monospace;
	font-weight: normal;
	font-style: normal;
	width: 100%;
}

.terminal .output p {
	margin: 0px;
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
}

.terminal .output p > span {
	display: inline-block;
}

.terminal .output p > span.text {
	white-space: pre;
}

.terminal input {
	font-family: 'Unispace', monospace;
	width: 100%;
	border: none;
	background: black;
	color: white;
	font-size: 1em;
	outline: none;
	padding: 5px;
	box-sizing: border-box;
}