*{
	margin: 0px;
	padding: 0px;
	transition: filter 0.5s ease-out, text-shadow 0s 0s;
}

html {
	box-sizing: border-box;
	background: white;
	height: 100%;
}

html, body {
	min-height: 100%;
}

body {
	display: flex;
	overflow-y:scroll;
	flex-direction: column;
	color: white;
	/*font-size: 1.25em;
	line-height: 1.25em;*/
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	filter:invert(0%);
	text-shadow: -0em 0em 1em currentColor;
}

.top .scanlines {
	opacity: 1;
}

.top {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 100%;
}

.bottom {
	display: flex;
	flex-direction: row;
	background: black;
	/*position: relative;*/
}

.bottom div:last-child {
	flex-grow: 1;
}

.terminal {
	background: black;
	font-family: 'Unispace', monospace;
	font-weight: normal;
	font-style: normal;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

.terminal .output > p {
}

.terminal .output p {
	margin: 0px;
	display: flex;
	flex-direction: row;
	flex: 1;
	white-space: pre-wrap;
	width: 100%;
	min-width: 0px;
	flex-wrap: nowrap;
	/*flex-wrap: wrap;*/
}

.terminal .output p > span {
	/*display: contents;*/
	/*text-indent:  0em;*/
}

.terminal input {
	text-shadow: -3px 0px 0.5em #FAA, 3px 0px 0.5em #AFF;
	font-family: 'Unispace', monospace;
	pointer-events: none;
	width: 100%;
	height: 1.125em;
	resize: none;
	overflow: hidden;
	border: none;
	color: white;
	font-size: 1em;
	outline: none;
	padding: 0px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.0);
}

.terminal input:focus {
	background: rgba(0,0,0,0.80);
}

.submit {
	font-family: 'Unispace', monospace;
	position: fixed;
	right: 1em;
	bottom: 1em;
	background-color: rgba(255,255,255,0.8);
	color:black;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	user-select: none;
	cursor: pointer;
}

.submit:active {
	right: 0.8em;
	bottom: 0.8em;
}

.scanlines{
	pointer-events: none;
	background-image: url(scanline.png);
	background-size: auto 12px;
	opacity: 0.25;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	animation-name: scan;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	mix-blend-mode: darken;
}

@keyframes scan {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px -12px;
	}
}

.main.inverted {
	text-shadow: none !important;
	transition: filter 0.2s ease-out, text-shadow 0s;
	filter: invert(100%);
}

.main.inverted span,
.main.inverted input {
	text-shadow: none !important;
	transition: filter 0.2s ease-out, text-shadow 0s;
}

.main.inverted .scanlines {
	/*opacity: 0.25;*/
}

.melting {
	line-height: initial;
	font-family: DejaVu;
}